.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper div {
  width: 100px;
  height: 100px;
  background-color: gray;
  margin: 10px;
}

.fourth {
   text-align: center;
   background-color: gray;
}
